.form{
  margin-bottom: 12px;
}
.row{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}

.container {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.text{
font-weight: 400;
font-size: 15px;
line-height: 20px;
color: #C0C0C0;
margin-bottom: 5px;
}
.text__plus{
  margin-bottom: 10px; 
  font-size: 45px;
line-height: 20px;
color: #C0C0C0;
}
.textarea {
  resize: none;
  padding: 10px 20px;
  width: 100%;
  max-width: 615px;
  height: 140px;
  background: white;
  border-radius: 10px;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  color: black;
  margin-bottom: 22px;
}


.margin{
  margin-bottom: 22px;
}
.margin__top{
  margin-top: 80px;
}

.position{
  position: relative;
}
.price{
position: absolute;
top:10px;
right: 15px;
background: none;
font-size: 28px;
}
.title {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
}

.input {
  position: relative;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 22px;
  width: 100%;
  min-height: 60px;
  padding: 10px 20px;
  /* margin-bottom: 10px; */
  color: black;
  background: #ffffff;
  border-radius: 10px;
}

.skills__container, .skill__container{
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
}
.skills__container{
  margin: 5px auto 80px;
}
.skillsList{
  margin-top: 5px;
  min-height: 42px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  background: #504f4f;
}

.trash{
  background: url(../../assets/img/trash.png);
  background-size: cover;
  width: 16px;
  height: 16px;


}

.skill__container{
align-items: center;
padding: 0 6px;
min-height: 40px;
background: #3B4050;
border: 1px solid #3B4050;
border-radius: 10px;
}