.lb1 {
  margin: 0 0 0;
}
#highload1,
#highload2 {
  display: none;
}
#highload1 + .lb1,
#highload1 + .lb1::before,
#highload1 + .lb1::after,
#highload2 + .lb1,
#highload2 + .lb1::before,
#highload2 + .lb1::after {
  transition: all 0.3s;
}
#highload1 + .lb1,
#highload2 + .lb1 {
  display: inline-block;
  position: relative;
  width: 52px;
  height: 32px;
  border-radius: 30px;
  cursor: pointer;
}

#highload1 + .lb1::after,
#highload2 + .lb1::after {
  border-radius: 50%;
  content: '';
  position: absolute;
  top: 4px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-color: rgb(134, 134, 134);
}

#highload1:checked + .lb1::after,
#highload2:checked + .lb1::after {
  display: flex;
  justify-content: center;
  left: 23px;
  background-color: white;
  align-items: center;
  content: '✔ ';
  color: black;
}

#highload1 + .lb1,
#highload2 + .lb1 {
  background-color: #ccc;
}

#highload1:checked + .lb1,
#highload2:checked + .lb1 {
  background-color: #903bd3;
}
#highload1:checked + .lb1::before,
#highload2:checked + .lb1::before {
  color: black;
  position: absolute;
  right: 10px;
  z-index: 5;
}





/* для компонента селект */
.rmsc{--rmsc-main: #ffffff;--rmsc-hover: #f1f3f5;--rmsc-selected: #e2e6ea;--rmsc-border: #ffffff;--rmsc-gray: #aaa;--rmsc-bg: #fff;--rmsc-p: 10px;--rmsc-radius: 4px;--rmsc-h: 38px}

.dropdown-content {
  
 }

  

.item-renderer input[type="checkbox"]{
  -webkit-appearance: none;
  appearance: none;
}


/* Checked */
.item-renderer input[type=checkbox]:checked + span {
  border-left: #a941f8b9 3px solid;
padding: 2px;
}
  

select {
  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../assets/svg/select.svg) !important;
  background-repeat: no-repeat !important;

  background-position: calc(100% - 20px) center!important;

}


.dropdown-heading-dropdown-arrow{
  background-image: url(../assets/svg/select.svg);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
}