.container {


}

.wrapper {
  padding-top: 100px;
  display: flex;
  max-width: 1440px;
  /* justify-content: space-between; */
  width: 100%;
  margin: auto;
}

@media (max-width: 900px) {
  

}

@media (max-width: 620px) {
  /* .wrapper {
    min-height: calc(100vh - 175px);
  } */
}
