/* COMMON STYLES */

.button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;

  text-align: center;

  min-height: 60px;
  padding: 15px 20px;

  border-radius: 10px;
  outline: none;
  border: none;

  cursor: pointer;
  transition: all 0.25s ease;
}

.button:focus {
  box-shadow: 23px 34px 16px rgba(79, 35, 113, 0.04), 13px 19px 14px rgba(79, 35, 113, 0.13),
    6px 8px 10px rgba(79, 35, 113, 0.21), 1px 2px 6px rgba(79, 35, 113, 0.25),
    0px 0px 0px rgba(79, 35, 113, 0.25);
}

.button:hover {
  background-color: #7800d7;
  border: none;
  box-shadow: 1px 1px 2px rgba(192, 0, 255, 0.3), -1px -1px 2px rgba(48, 0, 86, 0.5),
    inset -2px 2px 4px rgba(48, 0, 86, 0.2), inset 2px -2px 4px rgba(48, 0, 86, 0.2),
    inset -2px -2px 4px rgba(192, 0, 255, 0.9), inset 2px 2px 5px rgba(48, 0, 86, 0.9);
}

.button:active {
  background: #7800d7;
  border: 1px solid #903bd3;
}

/*  ACTION */

.action {
  color: #fff;
  background-color: #903bd3;
}

/* OUTLINED */

.outlined {
  color: #fff;
  border: 1px solid #903bd3;
  background: #282D3F;
  width: 120px;
}

/* DISABLED */

.disabled,
.disabled:hover,
.disabled:active,
.disabled:focus {
  background-color: #787878;
  transform: none;
  cursor: default;
}

/* SIZE */

.xl {
  width: 100%;
}

/*@media (max-width: 1024px) {
}*/
